#ct {
    .ct-header {
        color: $ct-color;
        font-family: 'Roboto';
        font-weight: 500;
        letter-spacing: .25rem;
        align-self: center;
        text-align: center;
        font-size: 2.1rem;
        @include respond(phone) {
            padding: 15px;
            padding-top: 0;
            max-width: 80%;
        }
    }
    .content-container {
        display: flex;
        flex-direction: column;
        width: 60%;
        .img-wrapper {
            margin: 0 auto;
        }
        @include respond(tab-port) {
            width: 90%;
        }
    }
    .endpoints {
        .endpoint-header {
            color: #fff;
            background-color: #41AEF2;
            width: 100%;
            text-align: center;
            padding: 5px;
            margin-top: 15px;

            &.lighter {
                background-color: rgba(65, 174, 242,.6);
            }
        }
        ul {
            padding: 15px;
        }
    }
    .secondary-endpoints {
        hr {
            border: none;
            border-bottom: 4px solid $ct-color;
            margin-top: 20px;
            margin-bottom: 10px;
        }
        ul {
            li {
                margin-top: 15px;
            }
            ul {
                padding: 0 15px;
                display: flex;
                flex-direction: column;
                flex-wrap: wrap;
                height: 240px;
                li {
                    margin-top: 0;
                }
                @include respond(tab-port) {
                    height: auto;
                    margin-left: 24px;
                }
            }
        }
    }
    .phase-pk-analysis {
        h5 {
            // text-align: center;
            margin-top: 15px;
            align-self: center;
        }
    }
    .trial-design {
        .tables {
            @include respond(tab-port) {
                flex-wrap: wrap;
                justify-content: center;
            }
        }
    }
    .img-wrapper {
        @include respond(phone) {
            width: 90%;
            img {
                width: 100%;
            }
        }
    }
    p {
        color: $gray-color;
        font-weight: 300;
        margin: 18px;
    }
    .tables {
        display: flex;
        padding: 15px;
    }
    .table {
        &.gray {
            h5 {
                background: #999999;
            }
            ul {
                background: #DDD;
            }
        }
        margin: 10px;
        @include respond(tab-port) {
            margin: 5px;
            h5,p {
                font-size: 1.5rem;
            }
            ul li {
                font-size: 1.4rem;
            }
            ul {
                padding: 5px !important;
            }
        }
        h5 {
            background: #2EB4FF;
            font-weight: bold;
            color: $gray-color;
            padding: 10px;
        }
        .subheader {
            background: rgba(46, 180, 255, 0.2);
            font-weight: bold;
            margin: 0;
            padding: 10px;
        }
        ul {
            background: rgba(46, 180, 255, 0.2);
            padding: 10px;
            li {
                color: $gray-color;
            }
            ul {
                background: none;
                padding: 0px;
                li {
                    color: $gray-color;
                }
            }
        }
    }
    .footnotes {
        align-self: flex-start;
        padding: 20px;
        font-size: 1.1rem;

        p {
            display: block;
            font-size: 1.1rem;
            margin: 10px 0;
            color: #000;
            font-weight: 300;
        }

        ol {
            display: -webkit-box;
            flex-wrap: wrap;
            font-weight: 300;
            margin: 10px 0;
            @include respond(tab-port) {
                display: block;
            }
            li {
                counter-increment: list;
                color: #000;
                font-weight: 300;
            }
            li:before {
                content: counter(list, lower-alpha) " ";
                position: relative;
                bottom: 5px;
                font-size: .8rem;
            }
            &:first-child {
                counter-reset: list;
            }
        }
    }
    .content {
        overflow-y: scroll;
        display: flex;
        flex-direction: column;
        max-height: 50vh;
        justify-content: flex-start;
        max-height: 65vh;
    }
}