#dosing {
    .dosing-header {
        color: $dosing-color;
        font-family: 'Roboto';
        font-weight: 500;
        // letter-spacing: .25rem;
        align-self: center;
        text-align: center;
        font-size: 2.1rem;
        @include respond(phone) {
            padding: 15px;
            padding-top: 0;
            width: 100%;
        }
    }
    .content-container {
        display: flex;
        flex-direction: column;
        width: 60%;
        .img-wrapper {
            margin: 0 auto;
        }
        @include respond(tab-port) {
            width: 90%;
        }
    }
    .subheader {
        text-align: center;
        font-weight: bold;
        margin: 0 auto;
        font-size: 1.8rem;
    }
    .img-wrapper {
        img {
            margin: 20px 0;
        }
        @include respond(phone) {
            // width: 90%;
            img {
                width: 100%;
                margin: 10px 0;
            }
        }
    }
    .table-header {
        background: #F48771;
        width: 100%;
        margin: 0;
        padding: 12px;
        color: #fff;
        text-align: center;
        @include respond(phone) {
            margin-left: 24px;
            text-align: left;
        }
    }
    .pregnancy {
        .dosing-header {
            font-size: 1.6rem;
            margin-left: 15px;
        }
        .check {
            li {
                padding: 15px 30px;
                line-height: 1.2;
            }
        }
        h4 {
            font-weight: normal;
            align-self: baseline;
            &.red {
                align-self: center;
                color: red;
            }
        }
    }
    .bottom-p {
        line-height: 1.75em;
        color: $gray-color;
        opacity: .7;
    }
    .cyp-btn {
        background: #F2542F;
        color: white;
        padding: 18px;
        border-radius: 40px;
        font-size: 2.1rem;
    }
    .adjustments-table {
        display: flex;
        ul {
            li {
                font-size: 1.8rem;
            }
        }
        p {
            font-size: 1.8rem;
            &.bold {
                font-weight: bold;
            }
        }
        .row1 {
            background: #F48771;
            color: #fff;
            text-align: center;
            padding: 12px;
        }
        .row2 {
            .bold {
                text-align: center;
            }
            height: 200px;
        }

    }
    p {
        color: $gray-color;
        font-weight: 300;
        margin: 18px;
    }
    .check {
        li {
            font-size: 1.8rem;
            line-height: 2rem;
            &::before {
                content: "✓";
                color: $dosing-color;
                text-indent: -1em;
                // padding-right: .5em;
            }
        }
    }
    .footnotes {
        align-self: flex-start;
        padding: 20px;
        font-size: 1.1rem;

        p {
            display: block;
            font-size: 1.1rem;
            margin: 10px 0;
            color: #000;
            font-weight: 300;
        }

        ol {
            display: -webkit-box;
            flex-wrap: wrap;
            font-weight: 300;
            margin: 10px 0;
            @include respond(tab-port) {
                display: block;
            }
            li {
                counter-increment: list;
                color: #000;
                font-weight: 300;
            }
            li:before {
                content: counter(list, lower-alpha) " ";
                position: relative;
                bottom: 5px;
                font-size: .8rem;
            }
            &:first-child {
                counter-reset: list;
            }
        }
    }
    h4 {
        color: $gray-color;
        font-weight: 300;
        margin: 15px;
    }
    .content {
        overflow-y: scroll;
        display: flex;
        flex-direction: column;
        max-height: 50vh;
        justify-content: flex-start;
        max-height: 65vh;
    }
}