#landing-page {
    main {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .page-buttons {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        flex-direction: column;
        align-items: center;
        justify-self: center;
    }
}