#moa {
    .img-wrapper {
        height: 80%;
        @include respond(phone) {
            height: 50%;
        }
    }
    .footnotes {
        align-self: flex-start;
        p {
            line-height: 3rem;
            @include respond(phone) {
                line-height: normal;
                padding: 10px;
            }
        }
        @include respond(phone) {
            padding: 10px;
        }
    }
}