footer {
    background-color: #B3B3B3;
    width: 100%;
    display: flex;
    // justify-content: center;
    // position: absolute;
    bottom: 0;
    p {
        margin: 20px 30px;
        font-size: 1.2rem;
        color: $footer-text
    }
    @include respond(tab-land) {
        display: none;
    }
}
.footer-visible {
    @include respond(tab-land) {
        display: flex;
        position: absolute;
        bottom: 0;
    }
    display: none;
}