nav.desktop {
    @include respond(tab-land) {
        display: none;
    }
    position: absolute;
    left: 0;
    display: flex;
    flex-direction: column;
    margin-top: 48px;
    align-self: flex-start;
    position: fixed;
    a {
        -webkit-box-shadow: 0px 0px 10px -1px #000000; 
        box-shadow: 0px 0px 10px -1px #000000;
        width: 85px;
        margin: 8px 0;
        padding: 10px 5px;
        border-radius: 0 34px 34px 0;
        text-align: center;
        i {
            font-size: 4rem;
        }
        &.active {
            i {
            color: #fff;
            }
        }
        &.moa {
            color: $moa-color;
            border: 2px solid $moa-color;
            border-left: none;
            &.active {
                background-color: $moa-color;
            }
        }
        &.ct {
            color: $ct-color;
            border: 2px solid $ct-color;
            border-left: none;
            &.active {
                background-color: $ct-color;
            }
        }
        &.efficacy {
            color: $efficacy-color;
            border: 2px solid $efficacy-color;
            border-left: none;
            &.active {
                background-color: $efficacy-color;
            }
        }
        &.safety {
            color: $safety-color;
            border: 2px solid $safety-color;
            border-left: none;
            &.active {
                background-color: $safety-color;
            }
        }
        &.dosing {
            color: $dosing-color;
            border: 2px solid $dosing-color;
            border-left: none;
            &.active {
                background-color: $dosing-color;
            }
        }
    }
}
nav.mobile {
    display: none;
    background: white;
    @include respond(tab-land) {
        display: flex;
        z-index: 2;
        position: fixed;
    }
    width: 100%;
    // position: absolute;
    bottom: 0px;
    a {
        width: 20%;
        // margin: 8px 0;
        padding: 10px 5px;
        @include respond(phone) {
            padding: 5px;
            h5 {
                font-size: 1.5rem;
            }
        }
        text-align: center;
        i {
            font-size: 3rem;
            @include respond(phone) {
                font-size: 2rem;
            }
        }
        &.active {
            i {
            color: #fff;
            }
        }
        &.moa {
            color: $moa-color;
            border-top: 8px solid $moa-color;
            &.active {
                color: #fff;
                background-color: $moa-color;
            }
        }
        &.ct {
            color: $ct-color;
            border-top: 8px solid $ct-color;
            &.active {
                background-color: $ct-color;
                color: #fff;
            }
        }
        &.efficacy {
            color: $efficacy-color;
            border-top: 8px solid $efficacy-color;
            &.active {
                background-color: $efficacy-color;
                color: #fff;
            }
        }
        &.safety {
            color: $safety-color;
            border-top: 8px solid $safety-color;
            &.active {
                color: #fff;
                background-color: $safety-color;
            }
        }
        &.dosing {
            color: $dosing-color;
            border-top: 8px solid $dosing-color;
            &.active {
                background-color: $dosing-color;
                color: #fff;
            }
        }
    }
}