.mySwiper {
    width: 100%;
    .swiper-slide {
        display: flex;
        align-items: center;
        flex-direction: column;
        @include respond(big-desktop) {
            height: 700px;
        }
        @include respond(tab-land) {
            height: 380px;
        }
        height: 420px;
        .audio {
            position: absolute;
            right: 0;
            color: #033258;
            font-size: 2rem;
        }
        img {
            @include respond(big-desktop) {
                margin-top: 50px;
            }
            @include respond(tab-land) {
                max-width: 500px;
                max-height: 400px;
            }
            @include respond(tab-port) {
                max-width: 400px;
                max-height: 400px;
            }
            @include respond(phone) {
                max-width: 300px;
            }
            @include respond(phone-xs) {
                max-width: 250px;
                margin-top: 40px;
            }
            // width: 400px;
        }
        p {
            align-self: flex-start;
            font-weight: 300;
            font-size: 1.4rem;
            @include respond(tab-land) {
                display: none;
            }
        }
    }
    .swiper-pagination-bullet {
        width: 20px;
        height: 20px;
        text-align: center;
        line-height: 20px;
        font-size: 12px;
        opacity: 1;
        background: rgba(3, 49, 89, 0.2);
      }

      .swiper-pagination-bullet-active {
        background: #033159;
      }
}