.mySwiper {
    width: 100%;
    .swiper-slide {
        display: flex;
        align-items: center;
        flex-direction: column;
        @include respond(big-desktop) {
            // height: 670px;
            height: 65vh;
        }
        @include respond(tab-land) {
            // height: 360px;
        }
        @include respond(phone) {
            height: 52vh;
        }
        // height: 400px;
        height: 57vh;
        .audio {
            position: absolute;
            right: 10px;
            color: #033258;
            font-size: 2rem;
        }
        img {
            @include respond(big-desktop) {
                margin-top: 50px;
            }
            @include respond(tab-land) {
                max-width: 100%;
                // max-height: 400px;
            }
            @include respond(tab-port) {
                // max-width: 400px;
                // max-height: 400px;
            }
            @include respond(phone) {
                max-width: 100%;
                &.moa-1 {
                    margin-top: 0;
                    width: 90%;
                }
            }
            @include respond(phone-xs) {
                max-width: 100%;
                margin-top: 40px;
            }
            // width: 400px;
            max-width: 100%;
        }
        p {
            align-self: flex-start;
            font-weight: 300;
            font-size: 1.4rem;
            @include respond(tab-land) {
                display: none;
            }
        }
    }
    .swiper-button-next, .swiper-button-prev {
        @include respond(tab-land) {
            display: none;
        }
        // top: 95%;
        top: auto;
        bottom: 110px !important;
        position: fixed;
        color: #033159;
        font-family: 'Roboto Condensed';
        font-size: 2rem;
        &.ct {
            color: $ct-color;
        }
        &.efficacy {
            color: $efficacy-color;
        }
        &.dosing {
            color: $dosing-color;
        }

        &:after {
            font-size: 2rem;
            padding: 10px;
        }
        &.swiper-button-disabled {
            visibility: hidden;
        }
    }
    .swiper-button-next {
        // right: 20px;
        right: 20%;
    }
    .swiper-button-prev {
        // left: 40px;
        left: 20%;
        flex-direction: row-reverse;
    }
    .swiper-pagination-bullet {
        width: 20px;
        height: 20px;
        text-align: center;
        line-height: 20px;
        font-size: 12px;
        opacity: 1;
        background: rgba(3, 49, 89, 0.2);
      }
      .ct {
        .swiper-pagination-bullet {
            background: rgb(65, 174, 242, 0.2);
        }
        .swiper-pagination-bullet-active
        {
            background: $ct-color;
        }
      }
      .efficacy {
        .swiper-pagination-bullet {
            background: rgb(242, 160, 7, 0.2);
        }
        .swiper-pagination-bullet-active
        {
            background: $efficacy-color;
        }
      }
      .dosing {
        //   242, 84, 48
        .swiper-pagination-bullet {
            background: rgb(242, 84, 48, 0.2);
        }
        .swiper-pagination-bullet-active
        {
            background: $dosing-color;
        }
      }

      .swiper-pagination-bullet-active {
        background: #033159;
      }
      .swiper-pagination {
          position: fixed;
          bottom: 115px !important;
      }
}