.page-button {
    -webkit-box-shadow: 0px 0px 10px -1px #000000; 
    box-shadow: 0px 0px 10px -1px #000000;
    max-width: 500px;
    min-width: 300px;
    padding: 15px 40px;
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 48px;
    background-color: white;
    @include respond(phone) {
        min-width: 220px;
        padding: 8px 20px;
        margin: 8px;
        h2 {
            font-size: 2.1rem;
        }
        .fa-4x {
            font-size: 2.5em;
        }
    }
    &.moa {
        color: $moa-color;
        border: 2px solid $moa-color;
    }
    &.ct {
        color: $ct-color;
        border: 2px solid $ct-color;
    }
    &.efficacy {
        color: $efficacy-color;
        border: 2px solid $efficacy-color;
    }
    &.safety {
        color: $safety-color;
        border: 2px solid $safety-color;
    }
    &.dosing {
        color: $dosing-color;
        border: 2px solid $dosing-color;
    }
}
.slide-btns {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 15px;

    @include respond(tab-port) {
        // margin: 10px 0;
        margin: 0;
    }

    .slide-btn {
        color: $gray-color;
        margin: 12px;
        font-size: 1.2rem;
        // max-width: 70px;
        min-height: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        padding: 5px 40px;
        background-color: white;
        border: 1px solid $ct-color;
        border-radius: 48px;
        -webkit-box-shadow: 0px 0px 10px -1px #000000; 
        box-shadow: 0px 0px 10px -1px #000000;

        &.dosing {
            border: 1px solid $dosing-color;
        }
        &.safety {
            border: 1px solid $safety-color;
        }
        /* one item */
        &:first-child:nth-last-child(1) {
        /* -or- &:only-child { */
            width: 100%;
        }
        
        /* two items */
        &:first-child:nth-last-child(2),
        &:first-child:nth-last-child(2) ~ .slide-btn {
            width: 50%;
        }
        
        /* three items */
        &:first-child:nth-last-child(3),
        &:first-child:nth-last-child(3) ~ .slide-btn {
            width: 33.3333%;
        }
        
        /* four items */
        &:first-child:nth-last-child(4),
        &:first-child:nth-last-child(4) ~ .slide-btn {
            width: 25%;
        }
        @include respond(tab-port) {
            font-size: 1rem;
            margin: 4px;
            // padding: 5px;
            padding: 4px 20px;
            min-height: 20px;
        }
    }
}
.back-btn {
    right: 75%;
    position: absolute;
    font-size: 3rem;
    color: $ct-color;
    display: flex;
    align-items: center;
    background: white;
    border-radius: 50%;
    z-index: 2;
    &.dosing {
        color: $dosing-color;
    }
    &.safety {
        color: $safety-color;
    }
    .ct-header {
        padding-left: 15px;
    }
    .safety-header {
        padding-left: 15px;
    }
    .dosing-header {
        padding-left: 15px;
    }
    @include respond(tab-land) {
        .ct-header {
            display: none;
        }
        .safety-header {
            display: none;
        }
        .dosing-header {
            display: none;
        }
    }
    @include respond(phone) {
        font-size: 2rem;
        right: 90%;
        margin-top: 5px;
    }
}
.review-btn {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 120px;
    z-index: 2;
    margin: 10px auto;
    @include respond(tab-land) {
        position: fixed;
        margin: 0 auto;
        margin-left: -60px;
    }
    i {
        padding: 5px;
    }
    h5 {
        font-size: 1.5rem;
    }
    &.moa {
        color: #fff;
        background: $moa-color;
    }
    &.ct {
        color: #fff;
        background: $ct-color;
    }
    &.efficacy {
        color: #fff;
        background: $efficacy-color;
    }
    &.safety {
        color: #fff;
        background: $safety-color;
    }
    &.dosing {
        color: #fff;
        background: $dosing-color;
    }
    border: none;
    border-radius: 40px;
    padding: 4px 12px;
    left: 50%;
    bottom: 75px;
}
.modal-btn {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;

    border: 2px solid #033258;
    color: #033258;
    background-color: #fff;
    border-radius: 40px;
    width: 90%;
    padding: 18px;
    margin: 8px;

    @include respond(phone) {
        padding: 8px;
        font-size: 1.5rem;
    }

    font-size: 2.1rem;
    
    &.active {
        background-color: #033258;
        color: #fff;
    }
    &.ct {
        border: 2px solid $ct-color;
        color: $ct-color;
        &.active {
            background-color: $ct-color;
            color: #fff;
        }
    }
    &.efficacy {
        border: 2px solid $efficacy-color;
        color: $efficacy-color;
        &.active {
            background-color: $efficacy-color;
            color: #fff;
        }
    }
    &.safety {
        border: 2px solid $safety-color;
        color: $safety-color;
        &.active {
            background-color: $safety-color;
            color: #fff;
        }
    }
    &.dosing {
        border: 2px solid $dosing-color;
        color: $dosing-color;
        &.active {
            background-color: $dosing-color;
            color: #fff;
        }
    }
}
.toggle-group {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 15px;
    h5 {
        font-size: 1.4rem;
        font-weight: normal;
        &.active {
            color: $safety-color;
            font-weight: bold;
        }
    }
}
/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    margin: 10px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .toggle {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: $safety-color;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .toggle:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .toggle {
    background-color: $safety-color;
  }
  
  input:focus + .toggle {
    box-shadow: 0 0 1px $safety-color;
  }
  
  input:checked + .toggle:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .toggle.round {
    border-radius: 34px;
  }
  
  .toggle.round:before {
    border-radius: 50%;
  }