.modal {
    position: fixed;
    width: 60%;
    @include respond(tab-land) {
        width: 90%;
        left: 5%;
    }
    left: 20%;
    top: 10%;
    z-index: 2;
    border: 2px solid #033159;
    background-color: #fff;
    -webkit-box-shadow: 0px 0px 10px -1px #000000; 
    box-shadow: 0px 0px 10px -1px #000000;

    display: flex;
    flex-direction: column;
    align-items: center;

    &.info {
        top: 15% !important;
        img {
            margin-top: 15px;
        }
    }

    &.special-interest, &.info {
        border: 2px solid $safety-color;
        justify-content: center;
        z-index: 4;
        top: 30%;
        h4 {
            align-self: center;
            color: $safety-color;
            font-weight: 500;
        }
        ul {
            margin: 25px;
            &.check {
                li {
                    &::before {
                        color: $safety-color;
                    }
                }
            }
        }
        .footnotes {
            position: relative;
            align-self: flex-start;
            margin: 15px 0;
            padding: 15px;
            font-size: 1.4rem;
            font-weight: 300;
            p {
                font-size: 1.4rem;
                margin: 10px 0;
            }
            ol {
                display: -webkit-box;
                flex-wrap: wrap;
                font-weight: 300;
                margin: 10px 0;
                @include respond(tab-port) {
                    display: block;
                }
                li {
                    counter-increment: list;
                    color: #000;
                    font-weight: 300;
                }
                li:before {
                    content: counter(list, lower-alpha) " ";
                    position: relative;
                    bottom: 5px;
                    font-size: .8rem;
                }
                &:first-child {
                    counter-reset: list;
                }
            }
        }
        .footnote {
            position: relative;
            align-self: flex-start;
            margin: 15px 0;
        }
        .submit {
            margin: 15px;
        }
    }

    h4 {
        align-self: flex-start;
        padding: 24px;
        padding-bottom: 0;
        color: $gray-color;
        @include respond(phone) {
            font-size: 1.5rem;
            line-height: normal;
            padding: 12px;
        }
    }
    .footnote {
        position: absolute;
        bottom: 25px;
        left: 25px;
        font-size: 1.4rem;
    }

    .close-btn {
        cursor: pointer;
        align-self: flex-end;
        margin: 15px;
        border: none;
        background: none;
        color: #033159;
        font-size: 2rem;
        @include respond(phone) {
            margin: 8px;
        }
        &.ct {
            color: $ct-color;
        }
        &.efficacy {
            color: $efficacy-color;
        }
        &.dosing {
            color: $dosing-color;
        }
        &.safety {
            color: $safety-color;
        }
    }
    
    .btn-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 15px;
        margin-bottom: 20px;
        width: 100%;
        
        @include respond(phone) {
            padding: 4px;
        }
    }
    .result {
        font-size: 2.1rem;
        padding: 18px;

        @include respond(phone) {
            padding: 8px;
            font-size: 1.8rem;
        }

        color: #4AAF35;
        &.incorrect {
            color: #ff0000;
        }
    }
    .submit {
        cursor: pointer;
        color: #fff;
        background-color: #033159;

        border-radius: 40px;
        border: none;
        font-size: 2.1rem;
        padding: 8px 30px;
        margin-top: 15px;

        @include respond(phone) {
            padding: 4px 12px;
            font-size: 1.8rem;
        }
        &.ct {
            background-color: $ct-color;
        }
        &.efficacy {
            background: $efficacy-color;
        }
        &.safety {
            background: $safety-color;
        }
        &.dosing {
            background: $dosing-color;
        }
    }
}