html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}
body {
    font-family: 'Roboto Condensed', sans-serif;
}
.section {
    display: flex;
    justify-content: center;
    align-items: center;
    main {
        width: 70%;
        @include respond(tab-land) {
            width: 100%;
        }
    }
    .content {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 24px;
        @include respond(phone) {
            margin-top: 12px;
        }
    }
    @include respond(tab-land) {
        flex-direction: column;
    }
}
a {
    text-decoration: none;
}
.hidden {
    display: none !important;
}
.vis-hidden {
    visibility: hidden !important;
}
