html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}
body {
    font-family: 'Roboto Condensed', sans-serif;
}
hr {
    display: block;
    border-bottom: 4px solid gray;
    width: 100%;
}
.section {
    display: flex;
    justify-content: center;
    align-items: center;
    main {
        width: 70%;
        min-height: 84vh;
        @include respond(big-desktop) {
            min-height: 87vh;
        }
        @include respond(tab-land) {
            width: 100%;
        }
    }
    .content {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 24px;
        @include respond(phone) {
            margin-top: 12px;
            margin-bottom: 100px;
        }
    }
    @include respond(tab-land) {
        flex-direction: column;
    }
}
a {
    text-decoration: none;
}
sup {
    vertical-align: super;
    font-size: 0.7em;
    line-height: 1em;
    padding-left: 1px;
}
.hidden {
    display: none !important;
}
.vis-hidden {
    visibility: hidden !important;
}
