html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}
body {
    font-family: 'Roboto Condensed', sans-serif;
}
.section {
    display: flex;
    justify-content: center;
    align-items: center;
    @include respond(tab-land) {
        flex-direction: column;
    }
}
a {
    text-decoration: none;
}
.hidden {
    display: none !important;
}
