@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&family=Roboto:wght@400;500;700&display=swap');
// Typographic Scale

h1,.h1 {
    font-size: 3.4rem;
    color: $gray-color;
    line-height: 4rem;
}
h2,.h2 {
    font-size: 3.27rem;
    font-weight: 300;
    line-height: 3rem;
}
h3,.h3 {
    font-size: 2.4rem;
    line-height: 3rem;
}
h4,.h4 {
    font-size: 2.1rem;
    line-height: 2.5rem;
}
h5,.h5 {
    font-size: 1.92rem;
}
p,.p {
    font-size: 2.1rem;
}
footer {
    background-color: #B3B3B3;
    p {
        font-size: 1.2rem;
        color: $footer-text
    }
}
ul {
    li {
        font-size: 2.1rem;
        font-weight: 300;
        // color: $gray-color-2;
        padding: 5px 0;
        padding-left: .5em;
        // &.alt-bullet {
        //     &::before {
        //         // color: $secondary-color-3;
        //     }
        // }
        &::before {
            // https://www.w3schools.com/howto/howto_css_bullet_color.asp
            content: "\2022";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
            color: $gray-color;/* Change the color */
            font-weight: bold; /* If you want it to be bold */
            display: inline-block; /* Needed to add space between the bullet and the text */
            // width: 1em; /* Also needed for space (tweak if needed) */
            text-indent: -.5em;
        }
    }
    ul {
        margin-bottom: 0;
        li {
            margin-left: 10px;
            @include respond(tab-port) {
                padding-left: 0;
                margin-left: 0;
            }
            &::before {
            content: "–";
            font-weight: 300;
            color: $gray-color;
            // margin-left: 5px;
            }
        }
    }
}
.copyright {
    font-size: 1.2rem;
}
//   Font Weight
.light {
    font-weight: 300;
}
.bold {
    font-weight: 700;
}
.ct-header {
    color: $ct-color;
    font-family: 'Roboto';
    font-weight: 500;
    letter-spacing: .25rem;
}